<h1>Library Management System</h1>
<p> Please sign-in/sign-up for using the library system </p>
<p id="notice"><%= notice %></p>

<%= link_to 'Sign In', trackers_new_path %>
<%= link_to 'Sign Up', new_member_path %>

