<h1>User Sign Up</h1>
<p> Please enter your information to sign up for the library. </p>
<p id="notice"><%= notice %></p>
<%= render 'form', form_path: members_path %>

<%= link_to 'Back', members_path %>
