<h1>Admin Sign Up</h1>
<p> Please enter your information to sign up for the admin. </p>
<p id="notice"><%= notice %></p>
<%= render 'form', form_path: members_new_admin_path %>

<%= link_to 'Back', members_path %>
